.signup-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    
}
.user-name{
    display: flex;
    justify-content: space-between;
}

.user-name>input{
    width: 45%;
    border:  none;
    border-bottom: 2px solid black;
    margin-bottom: 1rem 0rem;
}

.signup-heading{
    width: 100%;
    margin-bottom: 3rem;
    text-align: start;
    margin-left: 2rem;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form >input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    margin: 1rem 0rem;
}

.signup-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}